.entry {
	margin-left: 10px;
}

.heading {
	color: #800080;
}

div.map {
	width: 512px;
        height: 256px;
        position: relative;
	margin: 30px;
	text-align: center;
	font-size: 0;
}

div.frame {
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
        left: 0;
}

div.overlay {
	z-index: 9;
}

img.tile {
	display: inline-block;
	border: none;
	padding: 0px;
	margin: 0px;
	width: 50%;
}

img.flag {
	height: 23px;
	width: 23px;
	position: absolute;
	left: 0%
}

body {
	font-family: "Arial";
}

p {
	font-size: 16px;
}

h1, h2, h4 {
	text-align: center;
	color: #00008F;
}

h1 {
	font-size: 30px;
}

h2 {
	font-size: 24px;
}

a, h3, h4 {
	font-size: 20px;
	color: #800080;
}
